{% extends "layouts/base.html" %}

{% block title %} Detalle de Secuencia {% endblock %}

{% block body %}
<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card border-0 shadow-lg my-5">
            <div class="card-header bg-primary text-white">
                <h2 class="h5 mb-0">
                    <i class="bi bi-eye me-2"></i>Detalle de Secuencia
                    <span class="badge bg-light text-dark float-end">
                        {{ secuencia.get_tipo_display }}
                    </span>
                </h2>
            </div>
            <div class="card-body">
                <!-- Datos Comunes -->
                <div class="row mb-4">
                    <div class="col-md-6">
                        <h5 class="fw-bold">Semilla</h5>
                        <div class="bg-light p-3 rounded">
                            <p class="text-muted mb-0">{{ secuencia.semilla }}</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h5 class="fw-bold">Cantidad</h5>
                        <div class="bg-light p-3 rounded">
                            <p class="text-muted mb-0">{{ secuencia.cantidad }}</p>
                        </div>
                    </div>
                </div>

                <!-- Parámetros Específicos -->
                {% if secuencia.tipo == 'CM' %}
                <div class="row mb-4">
                    <div class="col-md-4">
                        <h5 class="fw-bold">Valor t</h5>
                        <div class="bg-light p-3 rounded">
                            <p class="text-muted mb-0">{{ secuencia.t }}</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <h5 class="fw-bold">Valor p</h5>
                        <div class="bg-light p-3 rounded">
                            <p class="text-muted mb-0">{{ secuencia.p }}</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <h5 class="fw-bold">Módulo</h5>
                        <div class="bg-light p-3 rounded">
                            <p class="text-muted mb-0">{{ secuencia.modulo }}</p>
                        </div>
                    </div>
                    <div class="col-md-12 mt-2">
                        <h5 class="fw-bold">Multiplicador (a)</h5>
                        <div class="bg-light p-3 rounded">
                            <p class="text-muted mb-0">{{ secuencia.multiplicador }}</p>
                        </div>
                    </div>
                </div>
                {% endif %}

                <!-- Números Generados -->
                <div class="mb-4">
                    <h5 class="fw-bold">Números Generados</h5>
                    <div class="bg-light p-3 rounded" id="numeros-container">
                        {% for numero in secuencia.numeros %}
                        <span class="numero" id="numero-{{ forloop.counter }}">{{ numero }}</span>{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </div>
                </div>

                <!-- Información Adicional -->
                <div class="row">
                    <div class="col-md-6">
                        <h5 class="fw-bold">Fecha de Creación</h5>
                        <div class="bg-light p-3 rounded">
                            <p class="text-muted mb-0">{{ secuencia.fecha_creacion|date:'d/m/Y H:i' }}</p>
                        </div>
                    </div>
                </div>

                {% comment %} Elegir metodo para testear chi cuadrado o poker {% endcomment %}
                <div class="row mt-4 mb-4">
                    <div class="col-md-12">
                        <h5 class="fw-bold">Método de Testeo</h5>
                        <form method="POST" action="{% url 'secuencia:testear' secuencia.id secuencia.tipo %}">
                            {% csrf_token %}
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="metodo" id="chi_cuadrado" value="chi_cuadrado" {% if metodo == 'chi_cuadrado' %}checked{% endif %}>
                                <label class="form-check-label" for="chi_cuadrado">Chi Cuadrado</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="metodo" id="poker" value="poker" {% if metodo == 'poker' %}checked{% endif %}>
                                <label class="form-check-label" for="poker">Poker</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-checked" type="number" name="significancia" id="significancia" value="{{ significancia }}" step="0.01" min="0.01" max="1.00" required>
                                <label class="form-check-label" for="significancia">Significancia</label>
                            </div>
                            <button type="submit" class="btn btn-primary ms-3">Testear</button>
                        </form>
                </div>
                </div>
                <div class="row mb-4">
                    <div class="col-md-12">
                        <h5 class="fw-bold">Resultado del Testeo</h5>
                        <div class="bg-light p-3 rounded" id="resultados-container">
                            
                        </div>
                    </div>
                </div>
                <!-- Botón de Volver -->
                <div class="d-grid gap-2 mt-4">
                    <a href="{% url 'secuencia:generar' %}" class="btn btn-primary">
                        <i class="bi bi-arrow-left me-2"></i>Volver a la lista
                    </a>
                </div>
            </div>
        </div>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const form = document.querySelector('form');
            form.addEventListener('submit', function (event) {
                const metodo = document.querySelector('input[name="metodo"]:checked').value;
                    event.preventDefault(); // Evita el envío inmediato del formulario
                    const numeros = document.querySelectorAll('#numeros-container .numero');
                    let delay = 0;
    
                    numeros.forEach((numero, index) => {
                        setTimeout(() => {
                            numero.style.backgroundColor = 'green'; // Cambia el color del número a verde
                            numero.style.color = 'white'; // Cambia el color del texto a blanco
                            numero.style.fontWeight = 'bold'; // Resalta el número
                            if (index === numeros.length - 1) {
                                // Cuando termine la animación, envía los datos al servidor
                                const formData = new FormData(form);
                                fetch(form.action, {
                                    method: 'POST',
                                    body: formData,
                                    headers: {
                                        'X-Requested-With': 'XMLHttpRequest' // Indica que es una solicitud AJAX
                                    }
                                })
                                .then(response => response.json()) // Asume que el servidor devuelve JSON
                                .then(data => {
                                    // Actualiza los resultados en la página
                                    numeros.forEach((numero, index) => {
                                        if (data.resultados.aprueba) {
                                            numero.style.color = 'green'; // Cambia el color del número a verde
                                        } else {
                                            numero.style.color = 'red'; // Cambia el color del número a rojo
                                        }
                                        numero.style.backgroundColor = '';
                                        numero.style.fontWeight = ''; 
                                    });
                                    const resultadosContainer = document.getElementById('resultados-container');
                                    resultadosContainer.innerHTML = '';
                                    if (metodo === 'poker') {
                                        resultadosContainer.innerHTML = `
                                        <p class="text-muted mb-0">Valor Chi Cuadrado: <strong>${data.resultados.valor_chi2}</strong></p>
                                        <p class="text-muted mb-0">Valor Crítico: <strong>${data.resultados.valor_critico}</strong></p>
                                        
                                        <p class="text-muted mb-0">Frecuencias Esperada: <strong>${JSON.stringify(data.resultados.frecuencia_esperada)}</strong></p>
                                        <p class="text-muted mb-0">Frecuencias Observadas: <strong>${JSON.stringify(data.resultados.frecuencia_observada)}</strong></p>
                                        <p class="${data.resultados.aprueba ? 'text-success' : 'text-danger'} mb-0">
                                            Resultado: <strong>${data.resultados.aprueba ? 'Aprobado' : 'No Aprobado'}</strong>
                                        </p>
                                    `;
                                    } else if (metodo === 'chi_cuadrado') {
                                        resultadosContainer.innerHTML = `
                                        <p class="text-muted mb-0">Valor Chi Cuadrado: <strong>${data.resultados.valor_chi2}</strong></p>
                                        <p class="text-muted mb-0">Valor Crítico: <strong>${data.resultados.valor_critico}</strong></p>
                                        <p class="${data.resultados.aprueba ? 'text-success' : 'text-danger'} mb-0">
                                            Resultado: <strong>${data.resultados.aprueba ? 'Aprobado' : 'No Aprobado'}</strong>
                                        </p>
                                    `;
                                    }

                                })
                                .catch(error => {
                                    console.error('Error al enviar los datos:', error);
                                });
                            }
                        }, delay);
                        delay += 20; // Incrementa el retraso para cada número (500ms por número)
                    });
            });
        });
    </script>
</div>
{% endblock %}