{% extends "layouts/base.html" %} {% block title %} Detalle de Test {%endblock%}
{% block body %}
<div class="row justify-content-center">
  <div class="col-md-8">
    <div class="card border-0 shadow-lg my-5">
      <div class="card-header bg-primary text-white">
        <h2 class="h5 mb-0">
          <i class="bi bi-eye me-2"></i>Detalle de Test
          <span class="badge bg-light text-dark float-end">
            {{ test.get_tipo_display }}
          </span>
        </h2>
      </div>
      <div class="card-body">
        <!-- Datos Comunes -->
        <div class="row mb-4">
          <div class="col-md-4">
            <h5 class="fw-bold">Aprobado</h5>
            <div class="bg-light p-3 rounded">
              <p class="text-muted mb-0">
                {% if test.aprobado %}
                <span class="badge bg-success">Sí</span>
                {% else %}
                <span class="badge bg-danger">No</span>
                {% endif %}
              </p>
            </div>
          </div>
          <div class="col-md-4">
            <h5 class="fw-bold">P-valor</h5>
            <div class="bg-light p-3 rounded">
              <p class="text-muted mb-0">{{ test.pvalor }}</p>
            </div>
          </div>
          <div class="col-md-4">
            <h5 class="fw-bold">Significancia</h5>
            <div class="bg-light p-3 rounded">
              <p class="text-muted mb-0">{{ test.significancia }}</p>
            </div>
          </div>
          <div class="col-md-6 mt-4">
            <h5 class="fw-bold">Estadistico de prueba</h5>
            <div class="bg-light p-3 rounded">
              <p class="text-muted mb-0">{{ test.estadistico_prueba }}</p>
            </div>
          </div>
          <div class="col-md-6 mt-4">
            <h5 class="fw-bold">Valor critico</h5>
            <div class="bg-light p-3 rounded">
              <p class="text-muted mb-0">{{ test.valor_critico }}</p>
            </div>
          </div>
          {% comment %} Armamos una tabla con los valores del test {% endcomment %}
          <div class="table-responsive rounded mt-4">
            <table class="table table-hover align-middle mb-0 p-3">
                <thead class="table-light text-center">
                    <tr>
                        {% comment %} para este titulo si es PK tiene que mostrar categorias si es cc tiene que mostrar intervalos {% endcomment %}
                        <th class="fw-bold">Categoría</th>
                        <th>FO</th>
                        <th>FE</th>
                        <th>Diferencia</th>
                        <th>Diferencia²</th>
                        <th>Diferencia² / FE</th>
                    </tr>
                </thead>
                <tbody class="text-center">
                    {% for frecuencia in frecuencias %}
                    <tr>
                      <td>{{ frecuencia.cat }}</td>
                      <td class="fw-bold">{{ frecuencia.fo }}</td>
                      <td class="fw-bold">{{ frecuencia.fe }}</td>
                      <td class="fw-bold">{{ frecuencia.diferencia|floatformat:5 }}</td>
                      <td class="fw-bold">{{ frecuencia.cuadrado_diferencia|floatformat:5 }}</td>
                      <td class="fw-bold">{{ frecuencia.cuadrado_diferencia_fe|floatformat:5 }}</td>
                    </tr>
                    {% empty %}
                    <tr>
                      <td colspan="8" class="text-center py-4">
                          <div class="text-muted">
                              <i class="bi bi-info-circle fs-4"></i>
                              <p class="mt-2 mb-0">No hay tests registrados</p>
                          </div>
                      </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

          <!-- Información de la Secuencia -->
          <!-- Números Generados -->
          <div class="mb-4 mt-4">
            <h5 class="fw-bold">Números Generados</h5>
            <div class="bg-light p-3 rounded">
              <code>{{ test.secuencia }}</code>
            </div>
          </div>

          <!-- Información Adicional -->
          <div class="row">
            <div class="col-md-6">
              <h5 class="fw-bold">Fecha de Creación</h5>
              <div class="bg-light p-3 rounded">
                <p class="text-muted mb-0">
                  {{ test.fecha_creacion|date:'d/m/Y H:i' }}
                </p>
              </div>
            </div>
          </div>

          <!-- Botón de Volver -->
          <div class="d-grid gap-2 mt-4">
            <a href="{% url 'test:generar' %}" class="btn btn-primary">
              <i class="bi bi-arrow-left me-2"></i>Volver a la lista
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}
</div>
